[Unit]
Description=TXT
After=network.target

[Service]
Type=simple
Environment="PORT=8080"
User=you
Group=you
ExecStart=/path/to/txt
Restart=on-failure
#LimitNOFILE=10000

[Install]
WantedBy=multi-user.target
